body{overflow-x: hidden;}
.menu{height:4%;
      width: 30%;
      left: 35%;
      position: fixed;
      z-index: 100;
      display:flex;
      justify-content: center;
      opacity: 0;
      top:0;
      border-radius:0 0 1000px 1000px ;
      }
.fon{position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: 0;
            }
.buttonmenu{width: 10mm;
            height: 10mm;
            border-radius: 50%;
            margin-left:10px;
            margin-right:10px;
            margin-top: 2px;
            border: none;
            background: none;
            border: none;}

.buttonmenu:hover{text-shadow:0 0 3px red;
                  transition-duration: 0.5s;}
.buttonmenuflag{padding: 0;
                border: none;
                background: none;
                cursor: pointer;
                margin-top: 2px;}
.buttonmenuflag img{display: block;
                    width: 100%;
                    height: auto;}
.buttonmenuflag:hover{box-shadow:0 0 10px red ;}
.text{display: inline-block;
     border-style:solid;
     border-width: 5px;
     justify-content: center;
     border-radius: 30px;
     border-color: transparent;
     background:linear-gradient(#480607,#480607)padding-box, linear-gradient(to right,#8B0000,#B22222,#CD2F2F,#DC3434) ;
     opacity:1;
     position:static;
     text-align: center;
     padding:20px;}
.formtext{margin-top:10px ;
          padding: 5px;
          width: 910px;
          color:wheat;
          font-size: 25px;
          border-style:solid;
          border-width: 4px;
          border-radius: 25px;
           border-color: transparent;
          line-height: 135%;
          background:linear-gradient(#5a0809,#5a0809)padding-box, linear-gradient(to right,#8B0000,#B22222,#CD2F2F,#DC3434)}
.formtext:hover{transform: scale(1.03,1.03);
          transition-duration: 1s;}
     h2{color:wheat}
p{text-align: left;}
.osnova{display: flex;
    position: absolute;
    flex-direction: column; 
    align-items: center; 
    top: 4%;
    left: 0;
    width: 100%;
    min-height: 95%;
    padding: 0 10%; 
    box-sizing: border-box;
}
.text:hover{transform:scale(1.03,1.03);
            transition-duration: 0.5s;
            box-shadow:0 0 60px red ;}
button{color:white;
               width:40px;
               height: 33px;
               border-width: 2px;
               background-color: transparent;
               padding:1px;
               font-weight: bolder;
               border-radius: 5px;
               border-color: white;
               transition-duration: 0.5s;}

.dopinfo{position: fixed;
         display: inline-block;
         opacity:0;
         transition-duration: 1s;
         width: 300px;
         padding-bottom: 20px;
         padding-top: 20px;
         top:25%;
         left: 5%;
         color:wheat;
         border-style: solid;
         font-size: 20px;
         border-width:5px;
         border-radius: 15px;
         border-color: transparent;
         background:linear-gradient(#480607,#480607)padding-box, linear-gradient(to right,#8B0000,#B22222,#CD2F2F,#DC3434);
         text-align: center;
         justify-content: center;
         }
.textdop{color:wheat;
         white-space: nowrap;
         display: inline-block;}

@keyframes poavlenie{
     from{opacity:0;}
     to{opacity: 1;}
     
}
.imgtext:hover{transform: scale(1.03,1.03);
         transition-duration: 1s;}