body{font-family:Arial;
     font-weight: bold;
     overflow:hidden;
     background-color: #000;}
ul {list-style-type: none;   
    margin:0;  
    padding:0;
    }

section{display:inline-block;
        width: 100%;
        height: 100%;
        background-color: black;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;

}
.box{padding-top:20px ;
     position: absolute;
     
     text-align: center;
     display: flex;
     flex-direction: column;
     ;
     width: 20%;
     height: 40%;
     top:30%;
     left:40%;
     border:5px solid transparent;
     border-radius: 30px; 
     background:linear-gradient(#480607,#480607) padding-box, linear-gradient(to right,#8B0000,#B22222,#CD2F2F,#DC3434);
     opacity: 0.9;
}
hr{color: #000;}
a{font-size: 25px;
  margin-bottom: 20px;
  color:#f5deb3;
  text-decoration: none;
  cursor: pointer;
 }
a:visited{color:wheat}
a:hover{color:white
}
a:active{color:rgb(155, 142, 119)}

.all{height: 100%;
     width: 100%;}
img{padding-bottom: 20px;}
li{margin-top: 10px;}

.glavfon{opacity: 1;
         top:0;
          left:0;
        z-index: 0;}
 
.fon{opacity: 0;}
