body{overflow: hidden;}
.menu{height:4%;
      width: 30%;
      left: 35%;
      position: fixed;
      z-index: 100;
      display:flex;
      justify-content: center;
      opacity: 0;
      top:0;
      border-radius:0 0 1000px 1000px ;
      }
.menubuttons{display: flex;
             width: 100%;
             height: 100%;
             position:absolute;
             top:0%;
             left:0;   
             background-color: black;}
.buttonmenu{width: 10mm;
            height: 10mm;
            border-radius: 50%;
            margin-left:10px;
            margin-right:10px;
            margin-top: 2px;
            border: none;
            background: none;
            border: none;}

.buttonmenu:hover{text-shadow:0 0 3px red;
                  transition-duration: 0.5s;}
.buttonmenuflag{padding: 0;
                border: none;
                background: none;
                cursor: pointer;
                margin-top: 2px;}
.buttonmenuflag img{display: block;
                    width: 100%;
                    height: auto;}
.buttonmenuflag:hover{box-shadow:0 0 10px red ;}
.button{transition-duration: 0.5s;}
.dopinfo{position: fixed;
         display: inline-block;
         opacity:0;
         transition-duration: 1s;
         width: 600px;
         padding-bottom: 20px;
         padding-top: 20px;
         top:25%;
         left: 36%;
         color:wheat;
         border-style: solid;
         font-size: 30px;
         border-width:5px;
         border-radius: 15px;
         border-color: transparent;
         background:linear-gradient(#480607,#480607)padding-box, linear-gradient(to right,#8B0000,#B22222,#CD2F2F,#DC3434);
         text-align: center;
         justify-content: center;
         z-index: 100;
         }
