body{overflow: hidden;}
.menu{height:4%;
      width: 30%;
      left: 35%;
      position: fixed;
      z-index: 100;
      display:flex;
      justify-content: center;
      opacity: 0;
      top:0;
      border-radius:0 0 1000px 1000px ;
      }
.menubuttons{display: flex;
             width: 100%;
             height: 100%;
             position:absolute;
             top:0%;
             left:0;
             z-index: 10;}

.dopinfo{position: fixed;
         display: inline-block;
         opacity:0;
         transition-duration: 1s;
         width: 600px;
         padding-bottom: 20px;
         padding-top: 20px;
         top:25%;
         left: 36%;
         color:wheat;
         border-style: solid;
         font-size: 30px;
         border-width:5px;
         border-radius: 15px;
         border-color: transparent;
         background:linear-gradient(#480607,#480607)padding-box, linear-gradient(to right,#8B0000,#B22222,#CD2F2F,#DC3434);
         text-align: center;
         justify-content: center;
         z-index: 0;
         }
.blackstyle{position: fixed;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 0;
            top:0;
            left: 0;
            opacity: 0;
            }
.buttonmenu{margin: 5px;}
button{border: none;
       background: none;}
