body{overflow: hidden;}
.menu{height:4%;
      width: 30%;
      left: 35%;
      position: fixed;
      z-index: 100;
      display:flex;
      justify-content: center;
      opacity: 0;
      top:0;
      border-radius:0 0 1000px 1000px ;
}
.blackstyle{position: fixed;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 0;
            top:0;
            left: 0;
            opacity: 0;
            }

button{border: none;
       background: none;}
.button{transition-duration: 0.5s;}

.menubuttons{display: flex;
             width: 100%;
             height: 100%;
             position:absolute;
             top:0%;
             left:0;   
             background-color: black;}



